.about {
    width: 100%;
    grid-row: contact-s/contact-e;  
    grid-column: s/e;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}


.personnal-image {
    padding-top: 3rem;
/* needs centering possibly width flex or grid */
}

.personnal-image img {
    width: 100%;
}

.personnal-bio {
    font-weight: 100;
    text-transform: uppercase;

    /* shrink the content so that it is not bigger then the image */
}